.buttonBox {
    background-color: #4CAF50; /* Green */
    border: none;
    color: black;
    padding: 10px 20px; 
   
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 20px;
    margin-right: 90px;
  }
  .center {
    display: flex;
    justify-content: center;
    margin-left: -2.15cm;
    
}
